.bidsWrap {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.bidsName {
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}

.bidsAvatar {
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.userInfo {
    margin-right: 20px;
}

.identificationWrap {
    display: flex;
    align-items: center;
}

.btnCopy {
    margin-left: 4px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.bidsId {
    margin: 0 5px 0 0;
    transition: color 0.4s ease;
}
.bidsPrice{
    margin-left: auto;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    font-size: 16px;
}