.detailWrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detailItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detailItem .info{

}
.detailItem .info .title{
    font-weight: 600;
    font-size: 16px;
    color: var(--mineShaftS);
}
.detailItem .info .ex{
    font-weight: 500;
    font-size: 14px;
    color: var(--doveGrayS);
}