.profileWrap {
  margin-top: 20px;
}

.bgBlock {
  width: 100%;
  height: 260px;
  background-image: url("../../assets/images/user-profile-bg.jpg");
  background-size: cover;
  border-radius: 0px 0px 50px 50px;
}

.bgWrap {
  padding: 0 50px;
}

.profileInfoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -60px;
}

.avatarWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: var(--white);
  border-radius: 100%;
}

.profileName {
  font-weight: 400;
  font-size: 34px;
}

.tabsWrap {
  margin-top: 30px;
  background-color: var(--alabasterapprox);
}

.tabsWrap ul {
  background-color: var(--white);
}

.tabResultContainer {
  background-color: var(--wildSandS);
}