.customDropdown{

}
.dropdownSelect{
    background-color: var(--white);
    border: 1px solid var(--pirateCold);
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 16px;
}

.dropdownButton{

}

.customDropdown .dropdownSelect:hover, .customDropdown .dropdownSelect:focus{
    background-color: rgba(174, 126, 3, 0.2);;
    text-transform: uppercase;
    box-shadow: none;
}
.dropdownItem{

}
.dropdownItem:active, .dropdownItem:focus{
    background-color: var(--linkWater);
    color: var(--denim);
}

.dropdownSelectGray {
    background-color: var(--wildSand);
}
.userDropdownButton{
    display: flex;
    align-items: center;
    color: var(--mineShaftS);
    font-size: 14px;
}
.userDropdownButton img{
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
.userDropdown{
    margin-right: 8px;
}