.customDropdown{

}
.dropdownSelect{
    background-color: var(--white);
    color: var(--denim);
    border: 1px solid rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    font-size: 16px;
}

.dropdownButton{

}

.customDropdown .dropdownSelect:hover, .customDropdown .dropdownSelect:focus{
    background-color: var(--linkWater);
    color: var(--denim);
    text-transform: uppercase;
    box-shadow: none;
}
.dropdownItem{

}
.dropdownItem:active, .dropdownItem:focus{
    background-color: var(--linkWater);
    color: var(--denim);
}

.dropdownSelectGray {
    background-color: var(--wildSand);
}