.card{
    position: relative;
    /*max-width: 630px;*/
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cardImage{
    height: 100%;
    max-height: 390px;
}
.cardDetail{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
}
.cardDetail .count, .cardDetail .daysInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    color: var(--black);
    background: var(--white);
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 14px;
}
.cardDetail .daysInfo{
    margin-left: auto;
}
.cardFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
.cardFooter .cardInfo .infoName{
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
}

.cardFooter .cardInfo .authorName{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.likes{
    margin-right: 16px;
}
.cardFooter .cardControls{
    display: flex;
    align-items: center;
}
.imageStyle{
    width: 100%;
    height: 100%;
}
.button{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
}

.card.cardSmall{
    width: 297px;
}
.card.cardSmall .imageStyle{
    min-height: 297px;
    object-fit: cover;
    background-position: center;
}
.card .cardFooter {
    gap: 20px;
}

.card.cardSmall .cardFooter{
    flex-wrap: wrap;
}
.card.cardSmall .cardControls{
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
    flex-direction: row-reverse;
}
.card.cardSmall .likes{
    margin-right: 0;
}
.card.cardSmall .infoName{
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 270px;
    overflow: hidden;
}