@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
  min-height: 60vh;
}

select,
button {
  cursor: pointer;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  display: flex;
  gap: 30px;
}

.slick-slider .slick-slide div:first-child {
  height: 100%;
}

.separator-horizontal {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background-color: var(--mercury);
}

.flex-gap-36 {
  gap: 36px;
}
.nav.nav-tabs {
  border-bottom: 1px solid rgba(174, 126, 3, 0.6);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
  border-bottom: 1px solid rgba(174, 126, 3, 0.6);
  color: var(--pirateCold);
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid rgba(174, 126, 3, 0.6);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: var(--mineShaftS);
}

.cursor-pointer {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--pirateCold);
  border-color: var(--pirateCold);
}

.form-check-input:focus {
  border-color: var(--pirateCold);
  outline: 0;
  box-shadow: unset;
}

a:hover {
  color: var(--pirateCold);
}

.pl-0 {
  padding-left: 0;
}

.pr-5px {
  padding-right: 5px;
}

button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.line-separator {
  width: 100%;
  height: 1px;
  background-color: rgba(174, 126, 3, 0.6);
}

.ta-c {
  text-align: center;
}
.ml-12 {
  margin-left: 12px;
}
.h-100 {
  height: 100%;
}
.modal.transparent .modal-content {
  background-color: transparent;
  border: none;
  /*height: 100%;*/
}
.modal.transparent .modal-content .btn-close {
  border: 2px solid rgba(3, 3, 3, 0.3);
}
/*.modal.transparent .btn-close{
  position: fixed;
  right: 20px;
  top: 20px;
}*/
/*.modal.transparent .modal-dialog{
  width: 100%;
  margin: 0;
  max-width: 100%;
  height: 100%;
}*/

.gap-5px {
  gap: 5px;
}
.setOpacity {
  opacity: 0.7;
}
