:root {
 --white: #ffffff;
 --black: #000000;
 --denim: #134FC2;
 --wildSand: #f6f6f6;
 --doveGray: #626262;
 --linkWater: #E7EAF8;
 --alabaster: #FAFAFA;
 --artistBorder: rgba(0, 0, 0, 0.12);
 --limeade: #63b400;
}