.navLink {
  font-weight: 500;
  font-size: 16px;
  color: var(--doveGray);
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}

.active {
  color: var(--pirateCold);
}

.navItem:not(:last-of-type) {
  margin-right: 20px;
}