.artistCard {
  padding: 16px;
  width: 100%;
  max-width: 290px;
  background: var(--alabaster);
  border: 1px solid var(--artistBorder);
  border-radius: 4px;
}

.artistWrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.artistName {
  margin: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}

.artistAvatar {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 100%;
}

.userInfo {
  margin-right: 20px;
}

.buttonFollow {
  padding: 6px 12px !important;
}

.likesCustom {
  margin-right: 10px;
}

.pointerNone {
  pointer-events: none;
}

@media (max-width: 767px) {
  .artistCard {
    margin: 0 auto;
    max-width: 90%;
  }
}
