.tabsWrap{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
.tabItem{
    padding: 6px 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    cursor: pointer;
}
.buttonTabs .tabItem{
    border: 1px solid transparent;
}
.buttonTabs .active{
    border: 1px solid #003DAC;
    border-radius: 4px;
    color: #134FC2;
    position: relative;
}

.linkTabs .active{
    border-bottom: 2px solid #003DAC;
    color: #134FC2;
}
.buttonTabs .active::after{
    content: '';
    background: #003DAC;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
    left: 0;
    top: 0;
}
