.tokenWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 70px;
}

.tokenWrap .lazyload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
